<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>major</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TourAddServe</display-name>
    <servlet-name>TourAddServe</servlet-name>
    <servlet-class>master.servlet.TourAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TourAddServe</servlet-name>
    <url-pattern>/TourAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TourDelServe</display-name>
    <servlet-name>TourDelServe</servlet-name>
    <servlet-class>master.servlet.TourDelServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TourDelServe</servlet-name>
    <url-pattern>/TourDelServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TourUpdateServe</display-name>
    <servlet-name>TourUpdateServe</servlet-name>
    <servlet-class>master.servlet.TourUpdateServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TourUpdateServe</servlet-name>
    <url-pattern>/TourUpdateServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServe</display-name>
    <servlet-name>LoginServe</servlet-name>
    <servlet-class>master.servlet.LoginServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServe</servlet-name>
    <url-pattern>/LoginServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelAddServe</display-name>
    <servlet-name>HotelAddServe</servlet-name>
    <servlet-class>master.servlet.HotelAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelAddServe</servlet-name>
    <url-pattern>/HotelAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelDelServe</display-name>
    <servlet-name>HotelDelServe</servlet-name>
    <servlet-class>master.servlet.HotelDelServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelDelServe</servlet-name>
    <url-pattern>/HotelDelServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelUpdateServe</display-name>
    <servlet-name>HotelUpdateServe</servlet-name>
    <servlet-class>master.servlet.HotelUpdateServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelUpdateServe</servlet-name>
    <url-pattern>/HotelUpdateServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServe</display-name>
    <servlet-name>RegisterServe</servlet-name>
    <servlet-class>master.servlet.RegisterServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServe</servlet-name>
    <url-pattern>/RegisterServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServe</display-name>
    <servlet-name>BookingServe</servlet-name>
    <servlet-class>master.servlet.BookingServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServe</servlet-name>
    <url-pattern>/BookingServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllotmentServe</display-name>
    <servlet-name>AllotmentServe</servlet-name>
    <servlet-class>master.servlet.AllotmentServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllotmentServe</servlet-name>
    <url-pattern>/AllotmentServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>master.servlet.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServe</display-name>
    <servlet-name>HomeServe</servlet-name>
    <servlet-class>master.servlet.HomeServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServe</servlet-name>
    <url-pattern>/HomeServe</url-pattern>
  </servlet-mapping>
</web-app>